@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #7209b7, #f72585);
}

.loader {
  position: absolute;
  top: 0;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #ffd900;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor
{
  0%,75%
  {
    opacity: 1;
  }
  76%,100%
  {
    opacity: 0;
  }
}

.loader h2 {
  position: relative;
  color: #ffd900;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  animation: typing 8s steps(16) infinite;
  overflow: hidden;
}

@keyframes typing
{
  0%,90%,100%
  {
    width: 0;
  }
  30%,60%
  {
    width: 309.23px;
  }
}

.first-music {
  width: 350px;
  height: 100%;
  position: relative;
  background-color: #f1f3f4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), -2px 2px 10px rgba(0, 0, 0, 0.5);
}

.first-music h4 {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #7209b7;
}

.first-music .imgBox {
  position: relative;
  width: 100%;
  height: 350px;
}

.first-music .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.first-music audio {
  width: 100%;
  outline: none;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .first-music {
    width: 85%;
  }

  .first-music h4 {
    padding: 8px;
    font-size: 1rem;
  }

  .first-music .imgBox {
    height: 330px;
  }

  footer {
    font-size: 1rem;
  }
}